  body{
	background-color: #eee;}
.wrapper{
	margin: 0 auto 0 60px;    /* top bottom right left */
	width: 1000px;

}	
nav	{                            /* discribes the menu style div is not sutable here */
	width: 100%;                 /* covering all the width of the page */
	height: 50px;                /* menu background hight */
	background-color: #fff;}
ul{                              /* the style of the website */
	margin-left :0px;           /* shift all links 60px */
	
}	
 ul li{                         /* the style of the individual site */
 	list-style: none;           /* remove dots infront the links*/
	display: inline-block;      /* put all links in line */
/*	float: left ;               /* remove gap between links wihout it gap remains */
	line-height: 50px;          /*  must be the same as the menu background
	 to keep text centerd in its background */
	background: #ffda42; 
    }
 ul li a{                       /* style of text insidee the links */             
 	display: block;             /* make aria above and under link sensitive */
 	text-decoration: none;      /*removes the underline */
 	font-size: 14px;
 	font-family: arial;
	padding: 0 20px;           /* 0 is beause it is allredy centerd , 20px width for each link */
 } 
 ul li a:hover {
 	color: red;
 }
 #part-2{
 	text-align: center;
 }
 
 .videowrapper{
 	position: relative;
 }
