   *{
	text-align: center;}
h2{
	text-align: left;
	text-decoration: underline;
}	
	
/*    #part-1{
	
	text-align: left;
	text-indent: 30px;
	font-size: 10px;
	line-height: 50px;
	
}

#part-2{
	color: green;
	text-align: right;
	font-size: 10px;
	background: yellow;}
.part-3{
	background: gray;
	text-align:center; 
	font-size: 50px;
	color: blue;}
