 *{
	margin: 0;
	padding: 0;
	}  
body{
	background-color: #EBF4C0;
}	
 ul li{
	list-style: none;
	display: inline-block;
	line-height: 30px;
	background: #ffda42; 
 }
 ul li a{
 	display: block;
 	text-decoration: none;
 	font-size: 14px;
 	font-family: arial;
 	color: #1e1e1e;  
	padding: 0 20px;  
 } 
 ul li a:hover {
 	color: red;
 }
#part-2{
	color: green;
	text-align: right;
	font-size: 10px;
	background: yellow;}
.part-3{
	background: gray;
	text-align:center; 
	font-size: 50px;
	color: blue;}
